.header {
  border-top: 8px solid #007bff;
  background: #9fcdff;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 100px;
}

body {
  margin: 0;
}

.linkWrap {
  display: flex;
  list-style: none;
  padding: 15px;
  border: none;
}

.link {
  color: #fff;
  padding-left: 40px;
  text-decoration: none;
}
