.imgArea {
    text-align: center;
    margin-top: 50px;
    background: url(../../../Img/kai.png) right no-repeat;
    height: 350px;
    margin-left: 630px;
    position: fixed;
    top: 50;
    right: 0;
    width: 654px;
}