.formWrap {
    width: 50%;
    background: #e5ffca;
    margin: 0 auto;
    margin-top: 150px;
    padding: 30px;
    border-radius: 20px;
}

.form {
    width: 50%;
}

.register {
    margin-top: 20px;
}

.invalid {
    color: coral;
}

.formimput {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: inherit;
    background-color: #fff;
}