.calendar {
    margin: 30px 0px;
    width: 50%;
    height: auto;
    font: inherit;
    color: currentColor;
    width: 100%;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    margin-bottom: 20px;
}

.coment {
    color: rgb(31, 8, 0);
    font-size: 17px;
    margin-bottom: 0;
    font-family: system-ui;
    font-style: revert;
    font-weight: 900;
    padding-right: 16px;
}