.home {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 120px;
}

.homeHeader {
    width: 50%;
}

.body {
    display: flex;
}

.total {
    padding-left: 30px;
    margin-top: -20px;
}

.totalIncome,
.Expenses {
    padding-top: 0px;
    padding: 30px;
}

.card {
    width: 50%;
}

.expence {
    color: palevioletred
}

.income {
    color: rgb(1, 89, 100)
}

.delete {
    display: none;
}

.List {
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.tab {
    width: 100px;
    padding: 11px 0px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 1px solid #dedede;
}

.tab[aria-selected="true"] {
    background-color: #dedede;
}