.styledTable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  border: 1px #9fcdff solid;
  text-align: left;
}

.styledTr {
  background-color: #9fcdff;
}

.styledTable thead tr {
  background-color: #9fcdff;
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 12px 15px;
  width: 260px;
  height: 30px;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 2px solid #9fcdff;
}

.styledTable tbody tr .activeRow {
  font-weight: bold;
  color: #009879;
}

.styledh1 {
  color: #000;
}
.styledButton {
  margin: 4px;
  padding: 6px 8px;
  border: 1px solid #9fcdff;
  background-color: #476fff;
  color: #fff;
  border-radius: 8px;
}

.styledInput {
  border: 2px solid #9fcdff;
  outline: 0;
  border-radius: 12px;
}
