.flex {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}

.incomeArea {
  color: #fff;
  width: 40%;
  font-family: PixelMplus10 Bold;
}
.status {
  border: #fff 2px solid;
  background: #050505;
}
.statusTtl,
.statusPlayer {
  margin: 10px 20px;
  font-size: 14px;
  display: flex;
  font-weight: bold;
  margin-top: -19px;
}
.statusTtl > li {
  background: #050505;
  list-style: none;
  width: 8em;
  margin-right: 55px;
  text-align: center;
}
.statusPlayer > li {
  list-style: none;
  width: 8em;
  margin-right: 55px;
  text-align: center;
}
.saveMoney {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 1px;
  width: 150px;
  margin: 50px 5px 10px 10px;
  margin-left: 40px;
}
.message {
  background-color: black;
  border: 2px solid #fff;
  border-radius: 1px;
  width: 700px;
  margin: 50px 10px 10px 0px;
  padding: 20px;
}
.Wrapper {
  height: 100vh;
  background-color: #000;
}

.enemy {
  text-align: center;
  margin: 40px;
}

.name {
  color: #fff;
}
.commendTtl {
  width: 4em;
  margin: -12px auto 0;
  font-size: 14px;
  font-weight: bold;
  background: #000;
  text-align: center;
}

.commend {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.hp {
  border-top: 10px solid #fff;
  width: 50%;
  text-align: center;
}

.enemyImg {
  width: 300px;
  height: 300px;
}
.commendLi {
  margin-top: 10px;
}
@keyframes damage {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
    -webkit-transform: translate(2px);
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0.5;
    -webkit-transform: translate(-2px);
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    -webkit-transform: translate(2px);
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
    -webkit-transform: translate(-2px);
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
    -webkit-transform: translate(2px);
  }
  100% {
    opacity: 1;
  }
}

.enemyAtaack {
  animation: damage 2s ease 0s 1 alternate none running;
}
